{% extends 'base.html' %}

{% block title %}Admin Page{% endblock %}


{% block header %}
    <h4>Hello Admin</h4>
{% endblock %}

{% block section %}
    <button  class = "active" id="btn1" >Home</button><br>
    <button id = "btn2">+Add Apps</button>
{% endblock %}

{% block content %}
   
    {% csrf_token %}

    {% if appsdata %}

    {% for i in appsdata.each %}
        {% for a,b in i.val.items %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src={{b.icon}} class="logo3" alt="...">
                </div>
                <div class="col-md-4">
                    <div class="card-body mt-3">
                        <h5 class="card-title">{{a}}</h5>
                        <a href = "appdetail">View In Detail</a>
                    </div>
                </div>

                <div class = "col-md-4">
                    <button class = "homebtn mt-5">{{b.points}}</button>
                </div>
                
            </div>
        </div>
        {% endfor %}
    {% endfor %}

    {% endif %}

    

   <script type="text/javascript">
    const btn1 = document.getElementById("btn1");
    const btn2 = document.getElementById("btn2");

    btn1.addEventListener("click", () => {
        window.location.replace('http://127.0.0.1:8000/')
    })

    btn2.addEventListener("click", () => {
        console.log("clicked")
        window.location.replace('http://127.0.0.1:8000/submit')
    })
</script>
{% endblock %}


